@import "./src/SassVariables/SassVariables.scss";
.nav-bar {
  display: flex;
  height: 100px;
  justify-content: space-between;
  position: relative;

  button {
    display: none;
  }

  .nav-links {
    align-items: center;
    color: $primaryColor;
    display: flex;
    font-size: 25px;
    height: 100%;
    margin-right: 1em;

    ul {
      display: flex;
      list-style: none;
      gap: 0.5em;

      li {
        a {
          border: 2px solid $primaryColor;
          border-radius: 10px;
          color: $primaryColor;
          padding: 5px;
          text-decoration: none;
          text-shadow: 1px 1px $secondaryColor;

          &:hover {
            border-color: $secondaryColor;
            color: $secondaryColor;
            text-decoration: underline;
            text-shadow: 1px 1px $primaryColor;
          }
        }

        .selected {
          border-color: $secondaryColor;
          box-shadow: 1px 1px $primaryColor;
          color: $secondaryColor;
          text-shadow: 1px 1px $primaryColor;
        }
      }
    }
  }

  .social {
    align-items: center;
    display: flex;
    font-size: 35px;
    height: 100%;
    margin-left: 0.5em;
    position: relative;

    img {
      border-radius: 50%;
      height: 90px;
      width: 90px;
    }

    ul {
      display: flex;
      list-style: none;
      gap: 0.5em;

      li {
        a {
          color: $primaryColor;

          &:hover {
            color: $secondaryColor;
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .nav-bar {
    button {
      align-items: center;
      background: none;
      border: 2px solid $primaryColor;
      border-radius: 10px;
      color: $primaryColor;
      display: flex;
      height: 40px;
      justify-content: center;
      margin-top: 30px;
      margin-right: 1em;
      position: absolute;
      right: 0;
      width: 50px;
    }

    .nav-links {
      display: none;

      ul {
        align-items: center;
        background-color: dimgray;
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        top: 130px;
        z-index: 1;
      }
    }
  }
}
