@import "./src/SassVariables/SassVariables.scss";

.App {
  height: 100vh;
  // overflow: hidden;

  .overlay {
    background-color: dimgrey;
    height: 100%;
    left: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 0;
    width: 100%;

    img {
      height: 100%;
      position: absolute;
      object-fit: cover;
      width: 100%;
      z-index: -1;
    }
  }
}

@media (max-width: 450px) {
  .App {
    height: calc(100vh - 45px);
  }
}
